@import "../../styles/colors";

.button {
    width: 100%;
    padding: 16px 48px;
    border: none;

    font: inherit;
    font-size: 18px;
    font-weight: 700;

    outline: none;
    color: $dark-blue;

    cursor: pointer;
    transition: all 0.3s linear;

    &Yellow {
        background-color: $yellow;

        &:hover {
            background-color: $yellow-hover;
        }
    }

    &White {
        background-color: $white;

        &:hover {
            background-color: $very-light-purple;
        }
    }

    &HalfWidth {
        width: 50%;

        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 575px) {
        font-size: 16px;
    }
}
